# if else

In [ ]:
age = int(input())
if age>18:
    if age>= 65:
        print('Take care')
    else:
        print('You eligibe')
        print('Drive slow')

else:
    print('Wait')

In [ ]:
# FIND MAX INN A LIST
# GIVEN MARKS IN A LIST
marks = [20,40,10,5,3,100]

In [ ]:
highest = marks[0] # the very first student max score 0 is highest
for i in marks:
    if i > highest:
        highest = i
print(highest)

In [ ]:
# max function

In [ ]:
max(marks)

In [ ]:
min(marks)

# Grading System

In [ ]:
# A: marks equal and above 90
# B: marks equal to 80 and less then 90
# C: marks equal to 70 and less then 80
# D: marks equal to 60 and less then 70
# E: Less then or 60

In [2]:
marks = float(input())

if marks >=90 and marks<=100:
    print('A Grade')

elif marks >=80 and marks < 90:
    print('Grade B')

elif marks >=70 and marks<80:
        print('Grade C')

elif marks >=60 and marks<70:
        print('Grade D')
elif marks<60:
    print('Grade E')
else:
    print("INVALID")

49
Grade E

In [4]:
A = int(input())
if (A % 400 == 0) and (A % 100 == 0):
    print(1)
elif (A % 4 ==0) and (A % 100 != 0):
    print(1)
else:
    print(0)

1999
0

# LOOP

In [40]:
# print all no. 1 to 10
i = 1
#loop condition
while i <=10:
    print(i, end='')
    i +=1

12345678910

In [39]:
# print 10 times you r best
i = 1
#loop condition
while i <= 10:
    print('You r best')
    i +=1

You r best
You r best
You r best
You r best
You r best
You r best
You r best
You r best
You r best
You r best

In [37]:
# print all the even no. 1 to 10

i =0
while i<=10:
    if i%2==0:
        print(i, end='')
    i +=1

0246810

In [46]:
# print sum of all numbers from 1 to 10

i = 1
j = 0
while i<=20:
    #print(i, end='')
    j += i
    print(j,end=',')
    i +=1

1,3,6,10,15,21,28,36,45,55,66,78,91,105,120,136,153,171,190,210,

# Range Function

In [53]:
range(5)
list(range(6))

[0, 1, 2, 3, 4, 5]

In [55]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [61]:
list(range(10,1,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2]

In [62]:
list(range(10,1-1,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

# Iterator iterable and iteration

In [64]:
for i in range(1,11):
    print(i, end ='')

12345678910

In [69]:
#print multiplication table of 5
n = int(input())
for i in range(1,11):
    print(i*n)

2
2
4
6
8
10
12
14
16
18
20

# Print Pattern

In [73]:
print # 4x4
for i in range(4):
    print('#',end='')
for i in range(4):
    print('#',end='')
for i in range(4):
    print('#',end='')
for i in range(4):
    print('#',end='')

################

In [76]:
for i in range(4):
    print('#',end='')
print()
for i in range(4):
    print('#',end='')
print()

for i in range(4):
    print('#',end='')
print()

for i in range(4):
    print('#',end='')
print()

####
####
####
####

In [79]:
for i in range(4):
    for j in range(4):
        print('#',end='')
    print()

####
####
####
####

In [87]:
n = int(input())

for i in range(1,n+1):
    for j in range(i):
        print('#',end = '')
     #after printing every row go for next row   
    print()

4
#
##
###
####

# Break, Continue and Pass 

~ these statement use to alter the flow of a program
~ Break : Breaks the flow of program once this conditions hit

~ Continue : it skips that particular iterartion

~ Pass : To Avoid syntax error

In [91]:
# Pass
for i in range(1,10):
    pass

In [92]:
# Continue
for i in range(1,10):
    if i==5:
        continue
    print(i)

1
2
3
4
6
7
8
9

In [93]:
# Break
for i in range(1,10):
    if i ==5:
        break
    print(i)

1
2
3
4

In [95]:
i = 1

while i <10:
    if i==5:
        break
    print(i)
    
    i +=1

1
2
3
4

In [101]:
while i < 20:
    print(i)
    i += 1
    continue

In [106]:
dict = {"x":1,"y":2,"z":3,"a":4,"b":5,"c":6}
sum = 0
for i in dict.values():
    sum += i
print(sum)

21

In [103]:
returnsum(1,2,3,4,5,6)

NameError: name 'returnsum' is not defined

In [113]:
dict1 = {'age': 35, 'name': 'abc', 'salary': 45000}

val = dict1['age']
if val in dict1:
    print('This is a member of the dictionary')
else:
    print('This is not a member of the dictionary')

This is not a member of the dictionary

In [114]:
freshers = {
    'student1': {'name': 'yash', 'salary': 7500},
    'student2': {'name': 'heet', 'salary': 8000},
    'student3': {'name':'smit', 'salary': 6500}
}

In [115]:
freshers

{'student1': {'name': 'yash', 'salary': 7500},
 'student2': {'name': 'heet', 'salary': 8000},
 'student3': {'name': 'smit', 'salary': 6500}}

In [116]:
freshers['student3']['salary'] = 8500

In [117]:
freshers

{'student1': {'name': 'yash', 'salary': 7500},
 'student2': {'name': 'heet', 'salary': 8000},
 'student3': {'name': 'smit', 'salary': 8500}}