# Sets
~Unique collection
~Unorderd
~Uniindexed
~Mutable

In [2]:
lst = [1,2,3,4,5,3,5,5,1]

In [3]:
lst

[1, 2, 3, 4, 5, 3, 5, 5, 1]

### Creating set

set()

set(iterable)

In [6]:
#empty set
s = {}
type(s)

dict

In [7]:
s = {()}
type(s)

set

In [9]:
s = set()
type(s)

set

In [10]:
# Non-empty set

In [11]:
s = {1,2,4,4,2,3,3,2,2,1}

In [12]:
print(s)

{1, 2, 3, 4}

In [13]:
type(s)

set

In [15]:
s = set("ankur")
type(s)

set

In [16]:
s

{'a', 'k', 'n', 'r', 'u'}

In [17]:
# Iteration

In [20]:
s

{'a', 'k', 'n', 'r', 'u'}

In [18]:
s[0]

TypeError: 'set' object is not subscriptable

In [19]:
s

{'a', 'k', 'n', 'r', 'u'}

In [22]:
for  i in s:
    print(i)

a
k
n
u
r

### updating a set

add: for single element

update(iterable)

In [25]:
s = {1,2,3,3,4,5,6}

In [26]:
s

{1, 2, 3, 4, 5, 6}

In [27]:
s.add(8)
s.add(8)
s.add(8)
s.add(8)

In [28]:
s

{1, 2, 3, 4, 5, 6, 8}

In [29]:
# update
s

{1, 2, 3, 4, 5, 6, 8}

In [30]:
name = "Rahul"

In [31]:
s.update(name)

In [32]:
s

{1, 2, 3, 4, 5, 6, 8, 'R', 'a', 'h', 'l', 'u'}

### Delete element

pop : removes random element. we are not sure what it is
    
remove(element): remove particular element

In [35]:
s

{1, 2, 3, 4, 5, 6, 8, 'R', 'a', 'h', 'l', 'u'}

In [36]:
s.pop()

1

In [37]:
s.pop()

2

In [38]:
s

{3, 4, 5, 6, 8, 'R', 'a', 'h', 'l', 'u'}

In [40]:
s.remove("R")

In [41]:
s

{3, 4, 5, 6, 8, 'a', 'h', 'l', 'u'}

In [42]:
a = s.pop()

In [43]:
a

3

In [44]:
b = s.remove("a")

### Intersection

Suppose scaler has two courses available for students: Python and Java.

You want to find out which students are enrolled in both the Python and Java Courses.
Then you can use intersection method.

In [45]:
# we are taking names instead of unique IDs for ease of understanding

In [49]:
python = {"Iron man","Hulk", "Spidy", "Ankur","Ant man"}
java = {"Iron man", "Harry potter", "Ant man"}

In [50]:
python.intersection(java)

{'Ant man', 'Iron man'}

In [51]:
java.intersection(python)

{'Ant man', 'Iron man'}

#  uninon
suppose You want to find out which students are enrolled in either python or java or in both. then You can use the union method

In [52]:
python = {"Iron man","Hulk", "Spidy", "Ankur","Ant man"}
java = {"Iron man", "Harry potter", "Ant man"}

In [53]:
python.union(java)

{'Ankur', 'Ant man', 'Harry potter', 'Hulk', 'Iron man', 'Spidy'}

# Diffrence
Suppose you want to find out the set of students who have enrolled int the python course but not in java course or vice versa then we can use the diffrence method.

In [2]:
python = {"Iron man","Hulk", "Spidy", "Ankur","Ant man"}
java = {"Iron man", "Harry potter", "Ant man"}

In [3]:
python.difference(java)

{'Ankur', 'Hulk', 'Spidy'}

In [4]:
java.difference(python)

{'Harry potter'}

# Challenge: #Count the number of unique elements in a sentence

In [5]:
sent = "be the change you wish to see in the world"

In [8]:
lst =sent.split()
lst

['be', 'the', 'change', 'you', 'wish', 'to', 'see', 'in', 'the', 'world']

In [6]:
s = set(sent)

In [7]:
s

{' ',
 'a',
 'b',
 'c',
 'd',
 'e',
 'g',
 'h',
 'i',
 'l',
 'n',
 'o',
 'r',
 's',
 't',
 'u',
 'w',
 'y'}

In [10]:
s = set(lst)

In [11]:
s

{'be', 'change', 'in', 'see', 'the', 'to', 'wish', 'world', 'you'}

In [12]:
len(s)

9

In [13]:
set1 = {1,2,4}
set2 = {4,5,6}

In [14]:
len(set1+set2)

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [20]:
set2 = {4,5,6}
set2 = set2.update({1,2,4})

In [22]:
set2

In [23]:
a={'Aurn', 'Nikhil', 'Seeta'}

In [24]:
a[0] = 'Arun'

TypeError: 'set' object does not support item assignment